/* Apply Poppins and Dancing Script fonts */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}

#countdown {
  font-size: 2rem;
  color: #014d4e;
}

#form-link {
  display: none;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #014d4e;
}

#form-link a {
  text-decoration: none;
  font-weight: bold;
}

/* Register button styles */
.btn-register {
  background-color: #db222a; /* Background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  border-radius: 25px; /* Rounded corners */
  font-size: 1.5rem; /* Font size */
  transition: background-color 0.3s; /* Transition for hover effect */
  animation: blink 1.5s infinite; /* Blinking effect */
}

/* Blinking animation */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Calligraphy heading */
.calligraphy-heading {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #014d4e;
  margin-bottom: 10px;
}

/* Dance competition text */
.competition-info {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

/* Registration opening date */
.open-date {
  font-size: 1.5rem;
  font-weight: bold;
  color: #014d4e;
  margin-bottom: 20px;
}

footer {
  background-color: #014d4e; /* Updated footer color */
  color: white;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Updated Navbar */
.navbar {
  background-color: #014d4e; /* Updated navbar color */
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}


/* Adjust padding for content in mobile view */
@media (max-width: 768px) {
  .content {
    padding: 20px; /* Add padding to the content */
  }
}

